# Autotools stuff
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/compile
/install-sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp

*.o
*~
*.swp

*.sublime-workspace

/swftool
/swftool.exe

