# Autotools stuff
/Makefile
/Makefile.in
/configure
/aclocal.m4
/autom4te.cache/
/config.*
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp

*.o
*~
*.swp

*.sublime-workspace

/swftool
/swftool.exe
